# Editors / OS
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
.env

# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo

# Misc
*.log
coverage/
